.container {
  background-color: white;
}

.heading {
  margin: 0 auto;
  width: 70%;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.intro {
  margin-top: 10px;
  font-size: 22px;
  text-align: center;
  font-style: italic;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoSection {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 50px;
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffe7d3;
}

.instructions {
  font-size: 24px;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
}

/* Small portrait */
@media (max-width: 1024px) and (orientation: portrait) {
  .heading {
    margin: 10px auto;
    width: 100%;
    font-size: 30px;
  }

  .infoSection {
    margin-top: 20px;
    width: 90%;
  }
}

/* Small landscape */
@media (max-width: 1024px) and (orientation: landscape) {
  .header {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .heading {
    margin: 5px auto;
    width: 100%;
    font-size: 30px;
  }
}
