.container {
  background-color: #fdf3ea;
}

.header {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.pageRouters {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 300px;
}

.pageRouterInactive {
  font-size: 20px;
}

.pageRouterInactive:hover {
  color: #9a9ffd;
  text-decoration: none;
}

.pageRouterActive {
  color: #9a9ffd;
  font-size: 20px;
  text-decoration: none;
}

.heading {
  margin-top: 20px;
  margin-left: 27%;
  margin-right: 27%;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.intro {
  margin-top: 10px;
  font-size: 22px;
  text-align: center;
  font-style: italic;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdf3ea;
}
