.column {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.row {
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.project {
  width: 50%;
  margin: 10px;
  align-items: center;
}

.image {
  border-radius: 5%;
}

.imageTitle {
  margin-bottom: 15px;
  text-align: center;
}

.imageDescription {
  margin-top: 15px;
  font-size: 18px;
}
