.projectGroup {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe7d3;
  border-radius: 5%;
}

.project {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.image {
  border-radius: 5%;
}

.text {
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 27px;
  font-weight: bold;
}

.buttonRow {
  display: flex;
  flex-direction: row;
}

.button,
.button:visited {
  padding: 10px 0px;
  margin-right: 10px;
  background-color: #ff9a9a;
  width: 150px;
  font-size: 18px;
  text-align: center;
  border-radius: 1em;
  text-decoration: none;
}

.button:hover {
  background-color: #9a9ffd;
}
