.projectPicFirst,
.projectTextFirst {
  display: flex;
  align-items: center;
  margin: 30px;
  gap: 40px;
}

.projectTextFirst {
  flex-direction: row-reverse;
}

.imageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image {
  width: 80%;
  height: auto;
  border-radius: 20px;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .projectPicFirst,
  .projectTextFirst {
    margin: 0px;
    margin-top: 60px;
    flex-direction: column;
  }

  .image {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .projectPicFirst,
  .projectTextFirst {
    margin: 0px;
    margin-top: 60px;
  }

  .image {
    border-radius: 10px;
    width: 45%;
    height: auto;
  }
}
