.projectPicFirst,
.projectTextFirst {
  display: flex;
  align-items: center;
  gap: 40px;
}

.projectTextFirst {
  flex-direction: row-reverse;
}

.imageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.image {
  width: 80%;
  height: auto;
  border-radius: 20px;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .projectPicFirst,
  .projectTextFirst {
    flex-direction: column;
  }

  .image {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .image {
    border-radius: 10px;
    width: 45%;
    height: auto;
  }
}
