* {
  font-family: Georgia, serif;
  color: #000552;
}

:root {
  --primary-color: rgb(193, 246, 248);
  --secondary-color: rgb(96, 156, 245);
  --background-color: white;
  --accent-color: #202bf3;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 90%;
  margin: 0 auto;
}

p {
  margin-top: 5px;
  font-size: 18px;
}

h1 {
  margin: 20px 0;
  font-size: 40px;
}

@media (max-width: 600px) {
  body {
    width: 95%;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
}
