* {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
}

:root {
  --primary-color: rgb(96, 156, 245);
  --secondary-color: rgb(194, 72, 72);
  --background-color: rgb(41, 41, 41);
  --accent-color: #208df3;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

p {
  font-size: 18px;
  margin: 0;
}

h1 {
  font-size: 60px;
  margin: 0.2em 0;
}

h2 {
  font-size: 40px;
  margin: 0.5em 0;
}
