.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  gap: 3em;
  height: 40vh;
  width: 80vw;
  border-radius: 20px;
  box-sizing: border-box;
  border: 2px solid var(--accent-color);
}

.linkPicture {
  border-radius: 100%;
  background-color: var(--primary-color);
}

.profilePicture {
  height: 80%;
  width: auto;
  border-radius: 100%;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5em 0;
}

.info p {
  margin: 2px 0;
}

.infoItem {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.infoItem h1 {
  margin: 0;
  font-size: 35px;
}

.infoItem p {
  margin: 0;
  font-size: 25px;
}

.linksContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.link {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0.5em 1em;
  border: 2px solid var(--accent-color);
  text-decoration: none;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .profile {
    flex-direction: column;
    height: auto;
    padding: 1em 1em;
    gap: 1em;
  }

  .profilePicture {
    height: 25vh;
  }

  .info {
    gap: 1em 0;
  }

  .infoItem {
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .infoItem h1 {
    font-size: 20px;
  }

  .infoItem p {
    font-size: 16px;
  }

  .linksContainer {
    flex-direction: column;
  }

  .link {
    width: 80%;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .profile {
    height: auto;
    gap: 1em;
    padding: 1em 1em;
  }

  .profilePicture {
    height: 50vh;
  }

  .info {
    gap: 0.2em;
  }

  .infoItem h1 {
    font-size: 20px;
  }

  .infoItem p {
    font-size: 16px;
  }

  .linksContainer {
    flex-direction: column;
  }

  .link {
    width: 80%;
  }
}
