.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  gap: 3em;
  height: 40vh;
  width: 80vw;
  border-radius: 20px;
  box-sizing: border-box;
  border: 2px solid var(--accent-color);
}

.profilePicture {
  height: 80%;
  width: auto;
  border-radius: 100%;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5em 0;
}

.info p {
  margin: 2px 0;
}

.infoItem {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.infoItem h1 {
  margin: 0;
  font-size: 35px;
}

.infoItem p {
  margin: 0;
  font-size: 25px;
}

.colorMIT {
  color: var(--accent-color);
}

.highlightMIT {
  background-color: #c9c9c9;
  border-radius: 10px;
  padding: 0px 8px;
  transition: background-color 0.3s ease;
}

.instructions {
  margin-top: 70px;
  font-size: 22px;
  text-align: center;
}

.skillsContainer {
  margin-top: 20px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 25px;
}

.list {
  flex: 0 0 49%;
}

.skillCategory,
.skill {
  margin-bottom: 15px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #a0a0a0;
  border-radius: 10px;
}

.skill {
  margin-bottom: 0px;
  border: 1px solid #a0a0a0;
  text-decoration: none;
  cursor: pointer;
}

.skillVisited,
.MITSkillClicked {
  background-color: #c7caff;
}

.skill:hover {
  background-color: var(--accent-color);
}

.link:hover {
  text-decoration: none;
  font-weight: bold;
  color: var(--accent-color);
}

@media (max-width: 1024px) and (orientation: portrait) {
  .profile {
    flex-direction: column;
    height: auto;
    padding: 1em 1em;
    gap: 1em;
  }

  .profilePicture {
    height: 25vh;
  }

  .info {
    gap: 1em 0;
  }

  .infoItem {
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .infoItem h1 {
    font-size: 20px;
  }

  .infoItem p {
    font-size: 16px;
  }

  .instructions {
    margin-top: 20px;
  }

  .skillsContainer {
    width: 100%;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .profile {
    height: auto;
    gap: 1em;
    padding: 1em 1em;
  }

  .profilePicture {
    height: 50vh;
  }

  .info {
    gap: 0.2em;
  }

  .infoItem h1 {
    font-size: 20px;
  }

  .infoItem p {
    font-size: 16px;
  }

  .instructions {
    margin-top: 20px;
  }
}
